/*
File: index.html
Author: Varas-Tóth Gergő
Copyright: 2024, Varas-Tóth Gergő
Group: Szoft I/1/N
Date: 2024-03-07
Github: https://github.com/janos12345/
Licenc: GNU GPL
*/
body{
    background-image: -webkit-linear-gradient(bottom,red,green,blue);   
    color:white
}
.container{
    height: 1000px;
    width: 1000px;
}
